{% load static %}
<!-- jquery -->
<script src="{% static 'scripts/jquery-3.2.1.min.js' %}"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="{% static 'scripts/jquery-ui.js' %}"></script>

<!-- datatables import -->
<link rel="stylesheet" href="https://www.epa.gov/sites/all/libraries/js/datatables/media/css/jquery.dataTables.min.css">
<script src="https://www.epa.gov/sites/all/libraries/js/datatables/media/js/jquery.dataTables.min.js"></script>

<!-- leaflet import -->

<link rel="stylesheet" href="{% static 'css/leaflet.css' %}"/>
<script src="{% static 'scripts/leaflet.js' %}"></script>
<script src="https://cdn.jsdelivr.net/leaflet.esri/2.0.1/esri-leaflet.js"></script>

<!-- local js -->
<script src="{% static 'scripts/waterslayer.js' %}"></script>
<script src="{% static 'scripts/pisces_datatable.js' %}"></script>
<script src="{% static 'scripts/huc250k_4326_sp.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'css/stream_map_v2.css' %}">
<script src="{% static 'js/stream_map_v2.js' %}"></script>
